@model Hotels.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar Cuenta";
}

<div id="cambioContrasenaPanel">

    <p id="textoAdministrarCuenta">Administrar cuenta</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
