@model Hotels.Models.Habitacion

@{
    ViewBag.Title = "CrearLaReserva";
}

<h2>CrearLaReserva</h2>

<fieldset>
    <legend>Reserva</legend>

   <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
</p>
