@model Hotels.Models.Reserva

@{
    ViewBag.Title = "Eliminar reservas";
}


@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}









<p id="textoEliminarReserva">
    Eliminar Reservas<br /><br />
    ¿Esta seguro que desea eliminar esta reserva?
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p id="eliminarReserva">
        <input type="submit" value="Eliminar" />
    </p>
    <p id="textoAtras">Atrás</p>
    @Html.ActionLink("Volver a la lista", "Lista", "Reserva", null, new { @class = "iconoAtrasError" })
}
