@model Hotels.Models.Reserva

@{
    ViewBag.Title = "Detalles";
}


@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<fieldset>
    <div id="descripcionHabitacion">
        <center>Habitación @Html.DisplayFor(model => model.Habitacion.ID)</center><br /><br />
        Siente la brisa marina mientras contemplas desde tu balcón privado las bellas playas de Marbella. Gran Meliá Don Pepe te ofrece 106 magníficas habitaciones premium vista mar (30 m2 / 323 sq. ft.) con extraordinarias vistas frontales al Mar Mediterráneo. Ubicadas entre la Primera y la Sexta planta, ofrecen interiores que combinan magistralmente lujo y comodidad.<br /><br />
    </div>
    <img id="imagenHab1" />
</fieldset>

<p id="textVolverDetalles">Volver</p>
@Html.ActionLink("Volver a la lista", "Lista", "Reserva", new { id = Model.ID }, new { @class = "iconoAtrasDetalles" })

