@model IEnumerable<Hotels.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}

<p>
    @Html.ActionLink("Realizar reservas", "IngresarFechas")
</p>

<p>
<<<<<<< HEAD
    @Html.ActionLink("Ver reservas", "IngresarFechas")
=======
    @Html.ActionLink("Ver reservas", "Lista")
>>>>>>> origin/master
</p>

