@model IEnumerable<Hotels.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}

<p>
    @Html.ActionLink("Realizar reservas", "Create")
</p>

<p>
    @Html.ActionLink("Ver reservas", "Create")
</p>

