@model IEnumerable<Hotels.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}


@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}


@Html.ActionLink("ElegirFechas", "ElegirFechas", "Reserva", null, new { @class = "iconoRevervar" })
<p id="textoIconoReservar">Reservar</p>


@Html.ActionLink("Lista", "Lista", "Reserva", null, new { @class = "iconoVerReverva" })
<p id="textoIconoVerReserva">Ver reservas</p>