@model IEnumerable<Hotels.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}


@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<p>
    @Html.ActionLink("Realizar reservas", "Create")
</p>

<p>
    @Html.ActionLink("Ver reservas", "Lista")
</p>

