@model string

@{
    ViewBag.Title = "verError";
}

<h2> ERROR </h2>
 <p>
        @HttpContext.Current.User.Identity.Name
</p>
<p>
    @Model
</p>
<p>@Html.ActionLink("Create New", "Create")</p>
    

    

