@model string

@{
    ViewBag.Title = "verError";
}

<p id="textoErrorVerHabitacion">
    ERROR!<br /><br />
    @Model
</p>
@Html.ActionLink("Ver Habitacion", "ElegirFechas", "Reserva", null, new { @class = "iconoAtrasError" })
@Html.ActionLink("Inicio", "index", "Reserva", null, new { @class = "iconoVerInicioReserva" })
<p id="textoAtras">Atrás</p>
<p id="textoInicioR">Inicio</p>  

    

