@if (Request.IsAuthenticated)
{
    <text>
        
         

        @{ var localName = User.Identity.Name;}
        @Html.ActionLink(@localName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "nombreUsuarioEncabezado", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">
        <p id="palabraSalir">Salir</p>
        <img src="~/Images/salir.png" id="cerrarSesion" />
    </a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "NoSeUsa" })</li>
        <li>@Html.ActionLink("Ingresa", "Login", "Account", routeValues: null, htmlAttributes: new { id = "NoSeUsa" })</li>
    </ul>
}
