@model Hotels.Models.Habitacion

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <div id="descripcionHabitacion">
        <center>Habitación</center><br /><br />
        Siente la brisa marina mientras contemplas desde tu balcón privado las bellas playas de Marbella. Gran Meliá Don Pepe te ofrece 106 magníficas habitaciones premium vista mar (30 m2 / 323 sq. ft.) con extraordinarias vistas frontales al Mar Mediterráneo. Ubicadas entre la Primera y la Sexta planta, ofrecen interiores que combinan magistralmente lujo y comodidad.<br /><br />
        Precio: $@Html.DisplayFor(model => model.Price)
    </div>
    <img id="imagenHab1" />
</fieldset>

<p id="textVolverDetalles">Volver</p>
@Html.ActionLink("Ver Habitacion", "ElegirHabitacion", "Reserva", new { id = Model.ID }, new { @class = "iconoAtrasDetalles" })

