<html>
    <head>
        <title>Hotels</title>
    </head>
    <body>
        @RenderPage("~/Main/BuscarHabitacion.cshtml")
        <!--<br><br><p>&copy; 2014 Universidad Nacional de Colombia. All rights reserved. (Layout)</p><-->
    </body>
</html>
